*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 25, 112, 0.724);

}
.card{
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 25px;
    
}
 .card .heading{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #191970;
    
}
span{
    color: green;
    display:flex;
}
.input_feild {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_feild i{
    position: absolute;
    color: #191970b4;
    float: right;
    margin-left: 300px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.input_feild input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    font-size: 18px;
}
.btn button{
    width: 100%;
    height: 40px;
    background-color: #191970b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 18px;
}
